<template>
  <div class="login-wrap">
    <div class="ms-login">
      <div class="ms-title" @dblclick="forceLogin()" >测试界面</div>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" class="ms-content">
        <el-form-item prop="username">
          <el-input v-model="ruleForm.username" placeholder="username">
            <el-button slot="prepend" icon="el-icon-lx-people"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            type="password"
            placeholder="password"
            v-model="ruleForm.password"
            @keyup.enter.native="submitForm('ruleForm')"
          >
            <el-button slot="prepend" icon="el-icon-lx-lock"></el-button>
          </el-input>
        </el-form-item>
        <template>
      </template>
        <div class="login-btn">
          <el-button type="primary" @click="submitForm('ruleForm')" >登录</el-button>
        </div>
        <p class="login-tips"></p>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  data: function() {
    return {
      ruleForm: {
        username: "admin",
        password: "123456"
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      },
      radio:"1"
    };
  },
  methods: {
    submitForm(formName) {
          this.$refs[formName].validate(valid => {
            if (valid) {
               this.$store.dispatch("loginTest",{username:this.ruleForm.username,password:this.ruleForm.password}).then(res => {
                  var result = JSON.parse(res);
                  if (result.status == 0) {
                    this.$message({
                      type: "success",
                      message: `登录成功`
                    });
                    localStorage.setItem("ms_username", this.ruleForm.username);
                    localStorage.setItem("user", JSON.stringify(result.result.user));
                    this.$router.push("/home/userinfo");
                  } else {
                    this.$message({
                      type: "error",
                      message: result.msg
                    }); 
                  }
                });
            
            } else {
              return false;
            }
          });
     },
    forceLogin(){
      
        localStorage.setItem("ms_username", "用户名");
        localStorage.setItem("user", JSON.stringify({username:"111",admin:"1"}));
        this.$router.push("/home/userinfo");
    }
  }
};
</script>

<style scoped>
.login-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/login-bg.jpg);
  background-size: 100%;
 
}
.ms-title {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: rgb(128, 127, 127);
  border-bottom: 1px solid #ddd;
  
}
.ms-login {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  margin: -190px 0 0 -175px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;

}
.ms-content {
  padding: 30px 30px;
}
.login-btn {
  text-align: center;
}
.login-btn button {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
}
.login-tips {
  font-size: 12px;
  line-height: 30px;
  color: #fff;
}
</style>