<!--
 * @Author: LJL
 * @Date: 2020-05-05 15:06:04
 * @LastEditors: LJL
 * @LastEditTime: 2020-10-13 10:18:45
 * @FilePath: \qgzhdc-zhdc-web-pc-zs\src\pages\mainmenu\message.vue
 * @description: 
 -->
<template>
    <div class="message">
        <div class="messageTitleDiv">
            <span>标题：</span>
            <el-input v-model="messageTitle" style="width:200px"></el-input>
        </div>
        <vue-ueditor-wrap v-model="msg" :config="myConfig" @ready="ready"></vue-ueditor-wrap>
        <div class="messageFont">
            <div class="messageClose"></div>
            <div class="messageTop">
                <div class="messageTitle">{{messageTitle}}</div>
                <div class="messageTime">
                    {{formatTime(new Date(),'d').split('-')[0]}}年{{formatTime(new Date(),'d').split('-')[1]}}月{{formatTime(new Date(),'d').split('-')[2]}}日
                </div>
            </div>
            <div class="messageMain">
                <span v-html="msg"></span>
            </div>
            <div class="messageBottom">
                <div class="messageCheck">
                    <el-checkbox v-model="messageChecked">下次不再显示</el-checkbox>
                </div>
                <div class="messageButton">关闭</div>
            </div>
        </div>
        <!-- <div class="submmitButton">
            <el-button @click="submmit" type="primary">提交</el-button>
        </div> -->
    </div>
</template>

<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
export default {
    name: "message",
    data() {
        return {
            msg: null,
            messageTitle: '最新消息',
            messageChecked: true,
            ue: null,
            myConfig: {
                // 编辑器不自动被内容撑高
                autoHeightEnabled: false,
                // 初始容器高度
                initialFrameHeight: 380,
                // 初始容器宽度
                initialFrameWidth: 634,
                // UEditor 资源文件的存放路径，如果你使用的是 vue-cli 生成的项目，通常不需要设置该选项，vue-ueditor-wrap 会自动处理常见的情况，如果需要特殊配置，参考下方的常见问题2
                UEDITOR_HOME_URL: '/static/UEditor/'
            }
        };
    },
    components: {
        VueUeditorWrap
    },
    methods: {
        ready(editorInstance) {
            this.ue = editorInstance
        },
        submmit() {
            let json = {
                xxtz_type: '2',
                tznr: this.msg,
                cjrid: JSON.parse(window.sessionStorage.getItem("UserInfo")).data.id,
                cjrmc: JSON.parse(window.sessionStorage.getItem("UserInfo")).data.name,
                cjsj: this.formatTime(new Date()),
                cjrdwcode: JSON.parse(window.sessionStorage.getItem("UserInfo")).data.departmentid,
                xtbs: '4',
                sffb: '1',
                tzbt: this.messageTitle,
                fssj: this.formatTime(new Date()),
                tznr_str: this.ue.getContentTxt()
            }
            console.log(json,'json')
            let params = {
                type: '1',
                datajson_tzgg: JSON.stringify(json),
                jsdwquerycodenew: '0'
            }
            this.$store.dispatch("createOrUpdateSystemTzgg", params).then(res => {
                console.log(res,'createOrUpdateSystemTzgg')
                if (res.data.code == 1) {
                    this.$message.success('发布成功!')
                } else {
                    this.$message.warning(res.data.msg)
                }
            });
        }
    },
    computed: {},
    mounted() {}
};
</script>

<style scoped>
.message {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}
.message .messageTitleDiv {
    position: absolute;
    left: 120px;
    top: 120px;
    font-size: 20px;
}
.message .showMessage {
    position: absolute;
    right: 120px;
    top: 50vh;
    transform: translateY(-50%);
    width: 634px;
    height: 360px;
    border: 1px solid #333333;
}
.message .messageFont {
    position: absolute;
    right: 120px;
    top: 50vh;
    transform: translateY(-50%);
    width: 734px;
    height: 624px;
    border: 1px solid #0081D6;
    border-radius: 21px;
    background: url(../../../assets/images/login/message-background.png) 100% no-repeat;
}
.message .messageClose {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 53px;
    height: 53px;
    background: url(../../../assets/images/login/message-close.png) 100% no-repeat;
}
.message .messageTop {
    margin-top: 35px;
    margin-left: 40px;
    color: #ffffff;
    text-align: left;
}
.message .messageTitle {
    font-size: 40px;
    font-weight: 600;
}
.message .messageTime {
    margin-top: 5px;
    font-size: 16px;
}
.message .messageMain {
    position: absolute;
    top: 210px;
    margin-left: 50px;
    margin-right: 50px;
    color: #333333;
    width: calc(100% - 100px);
    max-height: 350px;
    overflow-y: auto;
}
.message .messageBottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}
.message .messageCheck {
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 16px;
    color: #333333;
}
.message .messageButton {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 135px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    font-size: 22px;
    background: #0081D6;
    border-radius: 19px;
}
.message .submmitButton {
    position: absolute;
    text-align: center;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}
</style>

<style>
.message .edui-editor {
    position: absolute;
    left: 120px;
    top: 50vh;
    transform: translateY(-50%);
    background-color: unset;
}
.message .el-checkbox__inner {
  width: 16px !important;
  height: 16px !important;
}
.message .el-checkbox__inner::after {
  height: 9px !important;
  left: 5px !important;
}
.message .el-checkbox,
.message .el-checkbox__label {
  font-size: 16px !important;
  color: #333333 !important;
}
</style>