<template>
 
    <div class="mapType">
      <div class="mapTypeCard vectorType" @click="baseMap('vec')">
        <span>地图</span>
      </div>
      <div class="mapTypeCard imgType" @click="baseMap('img')">
        <span>影像</span>
      </div>
      <div class="mapTypeCard terType" @click="baseMap('ter')">
        <span>地形</span>
      </div>
    </div>
 
</template>
<script>
export default {
  name: "switchMap",
  components: {
   
  },
   props: ["map"],
   data() {
    return {
 
     
    };
  },
  methods: {
   baseMap(maplx){
      switch (maplx) {
        case "vec":
          this.map.setLayoutProperty("vec", "visibility", "visible");
          this.map.setLayoutProperty("img", "visibility", "none");
          this.map.setLayoutProperty("ter", "visibility", "none");
          if (this.map.getLayer("annotation")) {
            this.map.removeLayer("annotation");
            this.map.removeSource("annotation");
            setTimeout(() => {
              this.map.addLayer({
                id: "annotation",
                type: "raster",
                source: {
                  type: "raster",
                  tiles: [
                    "https://fxpc.mem.gov.cn/wmts?service=wmts&request=gettile&version=1.0.0&layer=cva&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk="+this.tdtToken
                  ],
                  tileSize: 256
                },
                paint: {}
              });
              this.map.setMaxZoom(17)
            }, 50);
          } else {
           this.map.addLayer({
              id: "annotation",
              type: "raster",
              source: {
                type: "raster",
                tiles: [
                  "https://fxpc.mem.gov.cn/wmts?service=wmts&request=gettile&version=1.0.0&layer=cva&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk="+this.tdtToken
                ],
                tileSize: 256
              },
              paint: {}
            });
            this.map.setMaxZoom(17)
          }
          break;
        case "img":
          this.map.setLayoutProperty("vec", "visibility", "none");
          this.map.setLayoutProperty("img", "visibility", "visible");
          this.map.setLayoutProperty("ter", "visibility", "none");
          if (this.map.getLayer("annotation")) {
           this.map.removeLayer("annotation");
            this.map.removeSource("annotation");
            setTimeout(() => {
              this.map.addLayer({
                id: "annotation",
                type: "raster",
                source: {
                  type: "raster",
                  tiles: [
                    "https://fxpc.mem.gov.cn/wmts?service=wmts&request=gettile&version=1.0.0&layer=cia&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk="+this.tdtToken
                  ],
                  tileSize: 256
                },
                paint: {}
              });
             this.map.setMaxZoom(17)
            }, 50);
          } else {
            this.map.addLayer({
              id: "annotation",
              type: "raster",
              source: {
                type: "raster",
                tiles: [
                 "https://fxpc.mem.gov.cn/wmts?service=wmts&request=gettile&version=1.0.0&layer=cia&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk="+this.tdtToken
                ],
                tileSize: 256
              },
              paint: {}
            });
            this.map.setMaxZoom(17)
          }
          break;
		  // 下面没有用到
        case "ter":
          this.map.setLayoutProperty("vec", "visibility", "none");
          this.map.setLayoutProperty("img", "visibility", "none");
          this.map.setLayoutProperty("ter", "visibility", "visible");
          if (this.map.getLayer("annotation")) {
            this.map.removeLayer("annotation");
            this.map.removeSource("annotation");
            setTimeout(() => {
              this.map.addLayer({
                id: "annotation",
                type: "raster",
                source: {
                  type: "raster",
                  tiles: [
                    "https://t0.tianditu.gov.cn" +
                      "/cta_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cta&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=" +
                     this.tdtToken
                  ],
                  tileSize: 256
                },
                paint: {}
              });
              if (this.map.getZoom() > 13) {
               this.map.zoomTo(13)
                this.map.setMaxZoom(13)
              }
            }, 50);
          } else {
            this.map.addLayer({
              id: "annotation",
              type: "raster",
              source: {
                type: "raster",
                tiles: [
                  "https://t0.tianditu.gov.cn" +
                    "/cta_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cta&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=" +
                    this.tdtToken
                ],
                tileSize: 256
              },
              paint: {}
            });
            if (this.map.getZoom() > 13) {
              this.map.zoomTo(13)
              this.map.setMaxZoom(13)
            }
          }
          break;

        default:
          break;
      }
   }
  },
  computed: {
   
  },
  mounted() {
    
  },
  watch: {
   
  },
};
</script>
<style>
.mapType {
  position: absolute;
  right: 8px;
  bottom: 8px;
  height: 70px;
  width: 106px;
  z-index: 9;
  border-radius: 2px;
  cursor: pointer;
  transition: width 0.8s, height 0.8s;
  -moz-transition: width 0.8s, height 0.8s, -moz-transform 0.8s; /* Firefox 4 */
  -webkit-transition: width 0.8s, height 0.8s, -webkit-transform 0.8s; /* Safari and Chrome */
  -o-transition: width 0.8s, height 0.8s, -o-transform 0.8s; /* Opera */
}
.mapType:hover {
  width: 288px;
  background: rgba(255, 255, 255, 0.3);
}
.mapType .mapTypeCard {
  position: absolute;
  top: 5px;
  width: 86px;
  height: 60px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0);
}
.mapType .mapTypeCard span {
  position: absolute;
  right: 1px;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #888f88;
  opacity: 0.8;
  width: 36px;
  bottom: 1px;
}
.mapType .vectorType {
  right: 15px;
  background: url("../../../../static/img/mapbtn.png") no-repeat 0 0;
  z-index: 1;
  transition: right 0.8s;
  -moz-transition: right 0.8s; /* Firefox 4 */
  -webkit-transition: right 0.8s; /* Safari 和 Chrome */
  -o-transition: right 0.8s; /* Opera */
}
.mapType .imgType {
  right: 10px;
  background: url("../../../../static/img/imagebtn.png") no-repeat 0 0;
  z-index: 2;
  transition: right 0.8s;
  -moz-transition: right 0.8s; /* Firefox 4 */
  -webkit-transition: right 0.8s; /* Safari 和 Chrome */
  -o-transition: right 0.8s; /* Opera */
}
.mapType .terType {
  right: 5px;
  background: url("../../../../static/img/terbtn.png") no-repeat 0 0;
  z-index: 3;
  transition: right 0.8s;
  -moz-transition: right 0.8s; /* Firefox 4 */
  -webkit-transition: right 0.8s; /* Safari 和 Chrome */
  -o-transition: right 0.8s; /* Opera */
}
.mapType:hover .vectorType {
  right: 197px;
}
.mapType:hover .imgType {
  right: 101px;
}
.mapType:hover .terType {
  right: 5px;
}
.mapType .vectorType:hover,
.mapType .active {
  border: solid 1px #4083e7;
}
.mapType .imgType:hover {
  border: solid 1px #4083e7;
}
.mapType .terType:hover {
  border: solid 1px #4083e7;
}
.mapType .vectorType:hover span,
.mapType .active span {
  background: #4083e7;
}
.mapType .imgType:hover span {
  background: #4083e7;
}
.mapType .terType:hover span {
  background: #4083e7;
}
</style>

