<template>
  <div >
   <chat class="chatlist"
                  :chatList="chatList"
    ></chat>
    <div style="position:absolute;bottom:0px;width:100%"> 当前在线人数：{{onlineUsers.length}}
          <input 
                    style="width:90%;height:30px;"
                    placeholder="按 Ctrl + Enter 发送"
                    v-model="chatContent"
                    @keyup="sendMessageOnKeyup"
          >
          <el-button style="float:right;"  type="primary" round @click="sendMessage">发送</el-button>
    </div>
  </div>
</template>

<script>
import Stomp from 'stompjs'
import Chat from './components/Chat.vue'
export default {
 name: 'websocket',
data(){
     return{
        user:{},
        loginuserid:"",
        ws:null,
        chatContent:"",//发送消息内容
        chatList:[{USERNAME:"管理员",CONTENT:"欢迎来到在线聊天室，请畅所欲言",CREATETIME:new Date()},
              
         ],
         onlineUsers:[]
     }
},
components: {
     Chat
},
methods:{
  mnLogin(){
    // var  wsServer = "ws://"+"localhost:8070" + "/chatServer/"+this.loginuserid+"/"+this.user.NAME;
    var  wsServer = "ws://"+"172.16.106.5:7001" + "/socket";
    if(this.ws==null){
      this.ws = new WebSocket(wsServer); //创建WebSocket对象
    }else{
      console.log("已经建立了连接");
    }
    var _this=this;
    this.ws.onopen = function (evt) {
	    console.log("已经建立连接",evt);
    };
    this.ws.onmessage = function (evt) {
      console.log("解析后台传回的消息,并予以展示",evt.data);
      debugger;
      var result=JSON.parse(evt.data);
       debugger;
      if(result.type=="1"){
        //上线通知
          _this.$message({
          message: result.message,
          type: 'success'
        });
        _this.onlineUsers=result.onlineusers
      }else if(result.type=="0"){
        debugger
          _this.$message(result.message);
      }
      else if(result.type=="2"){
        debugger;
          _this.chatList.push({USERNAME:result.username,CONTENT:result.message,CREATETIME:new Date()});
      }
    };
    this.ws.onerror = function (evt) {
	    console.log("产生异常",evt);
    };
    this.ws.onclose = function (evt) {
	    console.log("已经关闭连接",evt);
        
    };
  },
  sendMessageToAll(){

  },
  sendMessageOnKeyup(e){
     if (e.ctrlKey && e.keyCode === 13 && this.chatContent.length) {
        this.sendMessage()
      }
  },
  sendMessage(){
     this.ws.send(this.chatContent);
  }//发送消息
},
mounted(){
  //获取用户id,
  this.user=JSON.parse(localStorage.getItem('user'))
  this.loginuserid=this.user.ID;
 // this.mnLogin();
    //websocket原生
    
                   
     let socket1= io.connect(
       "http://localhost:7001?userid=2" ,
        { path: "/socket" }
      );
      socket1.on("connect", () => {
        //this.socksid = this.socks.id;
        console.log("socket connected....链接成功");
      });
      socket1.on("res",data=>{ console.log("接收到消息:"+data);});
     }
}
</script>


<style scoped>
 .chatlist {
    height:800px;
    /* overflow: hidden; */
  }
</style>
