<template>
  <div class="myMap" id="myMap">
    <div id="mapDiv">
      <el-input
        class="input_geojson"
        type="textarea"
        :autosize="false"
        resize="none"
        placeholder="请输入geojson或geojson路径"
        v-model="geojson"
      >
      </el-input>
    </div>
  </div>
</template>

<script>
export default {
  name: "geojsonMap",
  data() {
    return {
      geojson: "{}",
      mapzoom: 5,
      // textarea:""
    };
  },
  methods: {
    addGeoJson(json) {
      if (this.map.getLayer("drawpolygonlayer"))
        this.map.removeLayer("drawpolygonlayer");
      if (this.map.getLayer("drawpointlayer"))
        this.map.removeLayer("drawpointlayer");
      if (this.map.getLayer("drawlinelayer"))
        this.map.removeLayer("drawlinelayer");

      if (this.map.getSource("national-park") != null) {
        this.map.getSource("national-park").setData(json);
      } else {
        this.map.addSource("national-park", {
          type: "geojson",
          data: json,
        });
      }
      this.map.addLayer({
        id: "drawpolygonlayer",
        layout: {
          visibility: "visible",
        },
        type: "fill",
        source: "national-park",
        paint: {
          "fill-color": "#888888",
          "fill-outline-color": "#3bb2d0",
          "fill-opacity": 0.6,
        },
        filter: ["==", "$type", "Polygon"],
      });

      this.map.addLayer({
        id: "drawpointlayer",
        type: "circle",
        layout: {
          visibility: "visible",
        },
        source: "national-park",
        paint: {
          "circle-radius": 6,
          "circle-color": "#B42222",
        },
        filter: ["==", "$type", "Point"],
      });

      this.map.addLayer({
        id: "drawlinelayer",
        type: "line",
        source: "national-park",
        layout: {
          visibility: "visible",
        },
        paint: {
          "line-width": 6,
          "line-color": "#B42222",
          "line-opacity": 0.8,
        },
        filter: ["==", "$type", "LineString"],
      });
      this.map.getLayer("drawpolygonLayer=");
      this.map.on("click", "drawpolygonlayer", function (data) {
        alert(JSON.stringify(data.features[0]));
        console.log(data.features);
      });
    },
  },
  mounted() {
    mapboxgl.accessToken =
      "pk.eyJ1IjoieWFuZ3pob3VoYW8iLCJhIjoiY2ppbG9sMXJnMXc5YjNxbnhrOWl1bXppMyJ9.-JL3W32NYV_lHqsTUIGw9Q";
    // 加载天地图底图
    // 天地图（各个区域的token可以在网上查到）
    var vecUrl = "http://t0.tianditu.com/vec_w/wmts?tk=" + window.tdtToken;
    var cvaUrl = "http://t0.tianditu.com/cva_w/wmts?tk=" + window.tdtToken; //注记
    var tdtVec = {
      //类型为栅格瓦片
      type: "raster",
      tiles: [
        //请求地址
        vecUrl +
          "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=w&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles",
      ],
      tileSize: 256,
    };
    var tdtCva = {
      type: "raster",
      tiles: [
        cvaUrl +
          "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=w&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles",
      ],
      tileSize: 256,
    };
    //实例化Map地图对象
    this.map = new mapboxgl.Map({
      //地图容器div的id
      container: "mapDiv",
      style: {
        //设置版本号，一定要设置
        version: 8,
        //添加来源
        sources: {
          tdtVec: tdtVec,
          tdtCva: tdtCva,
        },
        glyphs:
          "http://39.105.87.199:8082/fonts/mapboxFonts/{fontstack}/{range}.pbf",
        layers: [
          {
            //图层id，要保证唯一性
            id: "tdtVec",
            //图层类型
            type: "raster",
            //数据源
            source: "tdtVec",
            //图层最小缩放级数
            minzoom: 0,
            //图层最大缩放级数
            maxzoom: 17,
          },
          {
            id: "tdtCva",
            type: "raster",
            source: "tdtCva",
            minzoom: 0,
            maxzoom: 17,
          },
        ],
      },
      minZoom: 1,
      maxZoom: 17,
      //地图中心点
      center: [114, 32],
      //地图当前缩放级数
      zoom: this.mapzoom,
    });
    // 添加控件
    var nav = new mapboxgl.NavigationControl({
      showCompass: true,
      showZoom: true,
    });
    // 图层切换组件
    this.map.addControl(nav, "bottom-right"); //放大缩小控件
    // map.addControl(home, "bottom-right"); //homeControl
  },
  watch: {
    geojson: {
      handler: function (val, oldVal) {
        try {
          var json = JSON.parse(val);
          this.addGeoJson(json);
          this.$turf.bbox(polygon);
          console.log("yangzh:", bbox);
        } catch (e) {
          if (val.indexOf("http") != -1) {
            console.log("输入的为服务路径。");
            this.addGeoJson(val);
          } else {
            console.log("请输入正确的geojson");
          }
        }
      },
      deep: true,
      immediate: false,
    },
  },
};
</script>

<style>
.content {
  position: relative;
}
.myMap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#mapDiv {
  width: 100%;
  height: 100%;
}

.input_geojson {
  position: absolute;
  width: 300px;
  height: 100%;
  border: 0;
  bottom: 0;
  padding: 0;
  z-index: 666;
}
.input_geojson textarea {
  bottom: 0;
  height: 100%;
}
</style>

