<template>
  <div class="myMap" id="myMap">
    <i
      class="showToolBarBtn el-icon-arrow-right"
      v-show="!showToolBar"
      @click="showToolBarFun(true)"
    ></i>
    <div id="mapDiv">
      <!-- <SwitchMap class="switchMap"></SwitchMap> -->
      <el-card class="box-card toolbar" v-if="showToolBar">
        <br />
        <el-button size="mini" @click="addThematicLayer"
          >唯一值专题图测试</el-button
        >
        <el-button size="mini" @click="addVectLayerTest"
          >加载矢量mvt图层</el-button
        >
        <el-button size="mini" @click="addheatmap">加载热力图</el-button>
        <el-button size="mini" @click="addclusters">加载聚合图</el-button>
        <el-button size="mini" @click="addGoeJsonClick">加载geojson</el-button>
        {{ messageTest }}
        <i
          class="el-icon-arrow-left closeToolBarBtn"
          @click="showToolBarFun(false)"
        ></i>
      </el-card>
    </div>
    <div class="zoombox1">
      <div class="zoomCount1" style="margin-bottom: 5px; height: 25px">
        {{ mapzoom }}
      </div>
      <div class="zoomCount" style="margin-bottom: 2px; height: 50px">
        <div
          style="cursor: pointer; border-bottom: 1px solid #00000024"
          @click="zoomAdd()"
        >
          +
        </div>
        <div style="cursor: pointer" @click="zoomReduce()">-</div>
      </div>
    </div>
    <SwitchMap :map="map"></SwitchMap>
  </div>
</template>

<script>
import FileUpload from "../components/bigfiles";
import SwitchMap from "../components/switchMap";

export default {
  name: "mainMap",
  components: {
    FileUpload,
    SwitchMap,
  },
  data() {
    return {
      showToolBar: false,
      message: "first",
      map: null,
      uploadShp: window.processServiceURL + "file/uploadShp",
      messageTest: "",
      mytime: "",
      geojsonEditShow: false,
      newgeojson: "",
      pointcolor: "rgba(255, 69, 0, 0.9)",
      linecolor: "rgba(255, 69, 0, 0.9)",
      polygoncolor: "rgba(255, 69, 0, 0.9)",
      layerData: null,
      //大文件shp路径
      uploadBigShp: window.processServiceURL + "file/uploadBigShp",
      mapzoom: 5,

      // textarea:""
    };
  },
  methods: {
    showToolBarFun(flag) {
      this.showToolBar = flag;
    },
    addThematicLayer() {
      if (this.map.getLayer("thematicLayer")) {
        this.map.removeLayer("thematicLayer");
      }
      if (this.map.getLayer("thematicLayer-borders")) {
        this.map.removeLayer("thematicLayer-borders");
      }
      if (this.map.getLayer("thematic-ano")) {
        this.map.removeLayer("thematic-ano");
      }
      if (this.map.getSource("thematicSource")) {
        this.map.removeSource("thematicSource");
      }

      var expression = ["match", ["get", "zxzt"]];
      expression.push("0", "#FF0000");
      expression.push("1", "#00FF00");
      expression.push("2", "#0000FF");
      expression.push("rgba(255,255,255,0)");
      this.map.addSource("thematicSource", {
        type: "geojson",
        data:
          "http://localhost:9010/qgzhdc/task/api/v1/getTaskListGeojson?code=110111",
      });
      this.map.addLayer({
        id: "thematicLayer",
        type: "fill",
        source: "thematicSource",
        paint: {
          "fill-color": expression,
          "fill-opacity": 0.7,
        },
      });
      this.map.addLayer({
        id: "thematicLayer-borders",
        type: "line",
        source: "thematicSource",
        layout: {},
        paint: {
          "line-color": "#627BC1",
          "line-width": 1.5,
        },
      });
      this.map.on("click", "thematicLayer", (e) => {
        this.messageTest = e.features[0].properties;
      });

      this.map.addLayer({
        id: "thematic-ano",
        source: "thematicSource",
        type: "symbol",
        minzoom: 1,
        maxzoom: 20,
        layout: {
          "text-size": 9,
          "symbol-placement": "point",
          "text-field": "{rwmc}-{cjrid}",
          "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
          "text-offset": [0, 0.6],
          "text-anchor": "top",
        },
      });
    },
    toggleJsonEdit() {
      this.geojsonEditShow = !this.geojsonEditShow;
    },
    //加载geojson文件
    addGoeJsonClick() {
      //this.addGeoJson("http://172.16.106.5:8083/tdt_xz/resources/shpJsonFile/hyd_1572578137027.json");//240Mgeojson不行
      //this.addGeoJson("http://172.16.106.5:8083/tdt_xz/resources/shpJsonFile/hyd_new_1572579759634.json");//17Mshp
      // this.addGeoJson("http://172.16.106.5:8083/tdt_xz/resources/shpJsonFile/hyd_new2_1572584793269.json"); //71Mshp   119M geojson
      // this.addGeoJson("http://172.16.104.140:8079/tdt-xz/resources/shpJsonFile/%E5%BB%BA%E7%AD%91%E7%89%A9_1594975140587.json");
      // this.addGeoJson("http://localhost:8082/tdt_xz/resources/shpJsonFile/BUIA.json");
      this.addGeoJson(
        "http://localhost:8082/tdt_xz/resources/shpJsonFile/shp2json_1599541869344.json"
      );

      // this.addGeoJson("http://172.16.104.140:8079/tdt-xz/resources/shpJsonFile/%E5%BB%BA%E7%AD%91%E7%89%A9_1599530937948.json")
    },
    //加载wmts服务
    addWMTSClick() {
      //   var vectorLayerUrl = "http://localhost:8088/geoserver/gwc/service/wmts?"+
      //     "REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&LAYER=cite:town" +
      //     "&STYLE=&TILEMATRIX=EPSG:900913:{z}&TILEMATRIXSET=EPSG:900913&" +
      //     "FORMAT=application/vnd.mapbox-vector-tile&TILECOL={x}&TILEROW={y}";
      // //application/vnd.mapbox-vector-tile,GEoServer版本不同，这里可能不同，注意在GeoServer里查看

      //    var url="http://yingxiang2019.geo-compass.com/api/wmts?layer=d%3a5000dcd59bdcd6079e7b92a4a6745173&style=time%3D1574065096602&tilematrixset=w&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image%2Fjpeg&TileMatrix={z}&TileCol={x}&TileRow={y}&threshold=100";
      //    var url2="http://tdt.fuzhou.gov.cn/serviceaccess/wmts/Vector2012CGCS2000?request=GetCapabilities&service=wmts&TILEMATRIX={z}TileCol={x}&TileRow={y}";
      //    var url3="http://192.168.100.2:8899/newmapserver4/tianditu/hlbe/tdtyxzj/wmts?request=GetCapabilities&service=wmts&TILEMATRIX={z}TileCol={x}&TileRow={y}";
      //    //var url4="http://yingxiang2019.geo-compass.com/api/wmts?layer=s%3ABusiness&style=time%3D1574065096602&tilematrixset=c&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image%2Fjpeg&TileMatrix={z}&TileCol={x}&TileRow={y}&threshold=100";
      var url =
        "http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer?REQUEST=GetTile&SERVICE=WMTS&VERSION=1.0.0&LAYER=tttyt&STYLE=default&TILEMATRIXSET=GoogleMapsCompatible&TILEMATRIX=z&TILEROW=y&TILECOL=x";
      this.addRasterLayer({ url: url, id: "testid", visible: true });
    },
    // add raster
    addRasterLayer({ url, id, minzoom = 0, maxzoom = 22, visible = true }) {
      if (this.map.getLayer(id)) return;
      this.map.addLayer({
        id: id,
        type: "raster",
        source: {
          type: "raster",
          tiles: [url],
          tileSize: 256,
          zoomOffset: 1,
        },
        layout: {
          visibility: visible ? "visible" : "none",
        },
        minzoom,
        maxzoom,
      });
    },
    // add vectlayer
    addVectLayerTest() {
      if (this.map.getLayer("drawpointlayer")) {
        this.map.removeLayer("drawpointlayer");
      }
      if (this.map.getSource("national-park")) {
        this.map.removeSource("national-park");
      }
      this.map.addSource("national-park", {
        type: "vector",
        tiles: [
          "https://qgzhdc.geo-compass.com/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0&tablename=&cjrid=3669&dwmc=&yhlx=0&sfdw=&shzt=&queryCode=&hczt=&gids=&querytype=2&pid=&tag=2",
        ],
        //tiles: ['http://172.16.100.156:9005/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=110111&cjrid=10507&yhlx=1&pid=10507&tag=2'],
        // tiles: ['http://172.16.100.156:9005/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        // tiles: ['http://172.16.106.5:9005/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        // tiles: ['http://172.16.106.5:9005/qgzhdc/dataManage/api/v1/queryListSjsbCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        //tiles: ['http://localhost:7001/queryMvt/{z}/{x}/{y}.mvt?code=0&tablename=geo_xian,geo_road,geo_lake,geo_sheng'],
        // tiles: ["http://localhost:7001/queryPbf/{z}/{x}/{y}.pbf"],
        //'scheme':'tms',//TMS服务有此一行
        // tiles:['http://yjvt.geo-compass.com/geocmap/api/v1/tileset/11001000001/11001000007/{z}/{x}/{y}.pbf']
      });
      this.map.addSource("clickSource", {
        type: "geojson",
        // data:{"type":"Polygon","coordinates":[[[111.23382568359375,33.79969117325108],[111.3134765625,33.77686437792359],[111.346435546875,33.77001515278013],[111.38763427734375,33.749464192325775],[111.42059326171875,33.726624014010284],[111.45904541015625,33.71748624018193],[111.500244140625,33.72890830547334],[111.533203125,33.73576081504463],[111.566162109375,33.72890830547334],[111.64581298828125,33.70377775573253],[111.676025390625,33.68549637289138],[111.71173095703125,33.67178278364436],[111.7474365234375,33.66721110119755],[111.785888671875,33.64434904445888],[111.807861328125,33.59403114663236],[111.81060791015625,33.53681606773303],[111.8023681640625,33.50704924881552],[111.76116943359375,33.50017852824229],[111.71722412109375,33.50475906922608],[111.67877197265625,33.488726115350275],[111.6595458984375,33.465816745730024],[111.62109375,33.470399104258505],[111.58538818359375,33.45894275368764],[111.58538818359375,33.42685691828501],[111.6046142578125,33.39017286472249],[111.6265869140625,33.362649660256636],[111.6705322265625,33.35806161277887],[111.7034912109375,33.33282302850358],[111.7144775390625,33.280027811732154],[111.73919677734375,33.206520451760625],[111.75018310546875,33.15364887320581],[111.74468994140625,33.12375082971022],[111.70623779296875,33.10994829789429],[111.65679931640625,33.09844453136719],[111.6156005859375,33.10304621868762],[111.5716552734375,33.09844453136719],[111.55517578125,33.13065128220441],[111.55517578125,33.16514540824029],[111.5386962890625,33.199625968296345],[111.49749755859375,33.208818492255475],[111.4508056640625,33.20422235093439],[111.40960693359375,33.215712251730736],[111.37115478515625,33.27543541298162],[111.3409423828125,33.286915956862074],[111.214599609375,33.28461996888768],[111.17889404296875,33.289211884431424],[111.11572265625,33.33741240611175],[111.08001708984375,33.34200154191562],[111.00860595703125,33.33282302850358],[111.01409912109375,33.34659043589842],[111.01959228515625,33.408516828002675],[111.0113525390625,33.495597744865705],[111.0003662109375,33.53452667616054],[110.9783935546875,33.552840110956154],[111.04705810546875,33.557417863242165],[111.09649658203125,33.568861182555565],[111.1212158203125,33.59174327144986],[111.1376953125,33.61690656060317],[111.1322021484375,33.651208299204995],[111.1322021484375,33.68321092658006],[111.1761474609375,33.69006708322202],[111.181640625,33.7197707748314],[111.17889404296875,33.75631505992706],[111.18988037109375,33.78599582629231],[111.23382568359375,33.79969117325108]]]}
        data: {},
      });
      this.map.addLayer({
        id: "drawpointlayer",
        type: "circle",
        layout: {
          visibility: "visible",
        },
        source: "national-park",
        "source-layer": "mvt",
        paint: {
          "circle-radius": 10,
          // "circle-color": "#B42222"
          "circle-color": "#ff0000",
        },
        filter: ["all", ["==", "dwmc", "莒县龙山镇花崖小学"]],
        // filter: ["all",["==", "$type", "Point"],["==","dwmc","莒县龙山镇花崖小学"],["has","dwmc"],["!=","dwmc","null"]],

        // layout: {
        //     visibility: visible ? 'visible' : 'none'
        // },
        // minzoom:4,
        // maxzoom
      });
      var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false,
      });
      var _this = this;
      this.map.on("mouseenter", "drawpointlayer", function (e) {
        // this.map.getCanvas().style.cursor = 'pointer';
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.dwmc;
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }
        popup
          .setLngLat(coordinates)
          .setHTML(`<div style='color:green;'>${description}</div>`)
          .addTo(_this.map);
      });
      var _this = this;
      this.map.on("click", "drawpointlayer", function (e) {
        // this.map.getCanvas().style.cursor = 'pointer';
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.dwmc;
        alert(`<div style='color:green;'>${description}</div>`);
      });
      this.map.on("mouseleave", "drawpointlayer", function () {
        popup.remove();
      });
      this.map.addLayer({
        id: "drawXianlayer",
        layout: {
          visibility: "visible",
        },
        type: "fill",
        source: "national-park",
        "source-layer": "11001000141_兴趣区界_region",
        paint: {
          "fill-color": "#F5F4EE",
          "fill-outline-color": "#3bb2d0",
          "fill-opacity": 1,
        },
        filter: ["==", "$type", "Polygon"],
      });
      this.map.addLayer({
        id: "drawLakelayer",
        layout: {
          visibility: "visible",
        },
        type: "fill",
        source: "national-park",
        "source-layer": "11001005721_BOUA_sheng",
        paint: {
          "fill-color": "#ABC6EF",
          "fill-outline-color": "#3bb2d0",
          "fill-opacity": 0.6,
        },
        filter: ["==", "$type", "Polygon"],
      });
      this.map.addLayer({
        id: "drawRoadlayer",
        type: "line",
        source: "national-park",
        "source-layer": "11001005721_BOUA_sheng",
        layout: {
          visibility: "visible",
        },
        paint: {
          "line-width": 2,
          "line-color": "#DAC9F0",
          "line-opacity": 1,
        },
        filter: ["==", "$type", "LineString"],
      });
      this.map.on("click", "drawpointlayer", function (e) {
        // this.map.getCanvas().style.cursor = 'pointer';
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.dwmc;
        alert(`<div style='color:green;'>${description}</div>`);
      });
      var _this = this;
      this.map.on("click", "drawXianlayer", function (e) {
        // 选中高亮
        _this.map.getSource("clickSource").setData(e.features[0].geometry);
      });
      // 选中高亮图层
      this.map.addLayer({
        id: "drawClick",
        layout: {
          visibility: "visible",
        },
        type: "fill",
        source: "clickSource",
        paint: {
          "fill-color": "#ff0000",
          "fill-outline-color": "#3bb2d0",
          "fill-opacity": 1,
        },
        filter: ["==", "$type", "Polygon"],
      });
    },
    // 添加热力图
    addheatmap() {
      //  var datajson=require('../../../assets/xian.json');
      //  this.addGeoJson(datajson)
      if (this.map.getSource("national-park")) {
        // this.map.removeSource('national-park');
      } else {
        this.map.addSource("national-park", {
          type: "vector",
          // tiles: ['http://vecpt8.geo-compass.com/api/v1/map/srcmvt/{z}/{x}/{y}.mvt?sid=11001001468'],
          tiles: [
            "http://172.16.100.156:9005/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0",
          ],
        });
      }
      this.map.addLayer({
        id: "trees-heat",
        type: "heatmap",
        source: "national-park",
        "source-layer": "mvt",
        maxzoom: 15,
        paint: {
          "heatmap-radius": [
            "interpolate",
            ["linear"],
            ["zoom"],
            // zoom is 5 (or less) -> circle radius will be 1px
            5,
            10,
            // zoom is 10 (or greater) -> circle radius will be 5px
            8,
            20,
          ],
          "heatmap-weight": 1,
          "heatmap-intensity": 1,
          "heatmap-color": [
            "interpolate",
            ["linear"],
            ["heatmap-density"],
            0,
            "rgba(33,102,172,0)",
            0.1,
            "#4169e1",
            0.3,
            "#00ffff",
            0.5,
            "#00ff00",
            0.7,
            "#ffff00",
            1,
            "#ff0000",
          ],
          "heatmap-opacity": 1,
        },
      });
      var _this = this;
      // inspect a cluster on click
      this.map.on("click", "clusters", function (e) {
        var features = _this.map.queryRenderedFeatures(e.point, {
          layers: ["clusters"],
        });
        var clusterId = features[0].properties.cluster_id;
        _this.map
          .getSource("national-park")
          .getClusterExpansionZoom(clusterId, function (err, zoom) {
            if (err) return;

            _this.map.easeTo({
              center: features[0].geometry.coordinates,
              zoom: zoom,
            });
          });
      });

      // When a click event occurs on a feature in
      // the unclustered-point layer, open a popup at
      // the location of the feature, with
      // description HTML from its properties.
      this.map.on("click", "unclustered-point", function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var mag = e.features[0].properties.dwmc;
        var tsunami;

        if (e.features[0].properties.dwmc === 1) {
          tsunami = "yes";
        } else {
          tsunami = "no";
        }

        // Ensure that if the map is zoomed out such that
        // multiple copies of the feature are visible, the
        // popup appears over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML("magnitude: " + mag + "<br>Was there a tsunami?: " + tsunami)
          .addTo(_this.map);
      });
    },
    // 添加聚合图
    addClustersLayer() {
      if (this.map.getLayer("drawpointlayer")) {
        this.map.removeLayer("drawpointlayer");
      }
      if (this.map.getSource("national-park")) {
        this.map.removeSource("national-park");
      }
      this.map.addSource("national-park", {
        cluster: false, // 是否避让
        // type: "vector",
        //   // tiles: ['http://vecpt8.geo-compass.com/api/v1/map/srcmvt/{z}/{x}/{y}.mvt?sid=11001001468'],
        //   tiles: ['https://qgzhdc.geo-compass.com/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        // tiles: ['http://172.16.100.156:9005/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        // tiles: ['http://172.16.106.5:9005/qgzhdc/dataManage/api/v1/queryListCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        // tiles: ['http://172.16.106.5:9005/qgzhdc/dataManage/api/v1/queryListSjsbCommonMvt/{z}/{x}/{y}.mvt?code=0'],
        type: "geojson",
        // data:'http://localhost:9007/qgzhdc/statistics/api/v1/cluster/statisticClusterGeojson?level=1&tag=2&yhjb=null&querycode='
        data: "https://docs.mapbox.com/mapbox-gl-js/assets/earthquakes.geojson",
      });
      this.map.addLayer({
        id: "clusters",
        type: "circle",
        source: "national-park",
        filter: ["has", "point_count"],
        paint: {
          // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
          // with three steps to implement three types of circles:
          //   * Blue, 20px circles when point count is less than 100
          //   * Yellow, 30px circles when point count is between 100 and 750
          //   * Pink, 40px circles when point count is greater than or equal to 750
          "circle-color": [
            "step",
            ["get", "point_count"],
            "#51bbd6",
            100,
            "#f1f075",
            750,
            "#f28cb1",
          ],
          "circle-radius": [
            "step",
            ["get", "point_count"],
            20,
            100,
            30,
            750,
            40,
          ],
        },
      });
      // 添加数字图层
      this.map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "national-park",
        filter: ["has", "point_count"],
        layout: {
          "text-field": "{point_count}",
          // "text-font": ["Simsun (Founder Extended) Regular"],
          // "text-font": ["SimHeiRegular"],
          "text-size": 12,
        },
      });
    },
    addclusters() {
      this.map.addSource("earthquakes", {
        type: "geojson",
        // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
        // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
        data: "https://docs.mapbox.com/mapbox-gl-js/assets/earthquakes.geojson",
        cluster: true,
        clusterMaxZoom: 14, // Max zoom to cluster points on
        clusterRadius: 50, // Radius of each cluster when clustering points (defaults to 50)
      });
      this.map.addLayer({
        id: "clusters",
        type: "circle",
        source: "earthquakes",
        filter: ["has", "point_count"],
        paint: {
          // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
          // with three steps to implement three types of circles:
          //   * Blue, 20px circles when point count is less than 100
          //   * Yellow, 30px circles when point count is between 100 and 750
          //   * Pink, 40px circles when point count is greater than or equal to 750
          "circle-color": [
            "step",
            ["get", "point_count"],
            "#51bbd6",
            100,
            "#f1f075",
            750,
            "#f28cb1",
          ],
          "circle-radius": [
            "step",
            ["get", "point_count"],
            20,
            100,
            30,
            750,
            40,
          ],
        },
      });
      // 添加数字图层
      this.map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "earthquakes",
        filter: ["has", "point_count"],
        layout: {
          "text-field": "{point_count_abbreviated}",
          // "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
          "text-font": ["NotoCJK"],
          "text-size": 12,
        },
      });
      // 添加未聚合图层
      this.map.addLayer({
        id: "unclustered-point",
        type: "circle",
        source: "earthquakes",
        filter: ["!", ["has", "point_count"]],
        paint: {
          "circle-color": "#11b4da",
          "circle-radius": 4,
          "circle-stroke-width": 1,
          "circle-stroke-color": "#fff",
        },
      });
      // inspect a cluster on click  点击聚合图层地图级别中心点变化
      var _this = this;
      this.map.on("click", "clusters", function (e) {
        var features = _this.map.queryRenderedFeatures(e.point, {
          layers: ["clusters"],
        });
        var clusterId = features[0].properties.cluster_id;
        _this.map
          .getSource("earthquakes")
          .getClusterExpansionZoom(clusterId, function (err, zoom) {
            if (err) return;

            _this.map.easeTo({
              center: features[0].geometry.coordinates,
              zoom: zoom,
            });
          });
      });
    },
    toggleLayer() {
      console.log(this.map.getSource("national-park"));
      this.map.setPaintProperty("drawpolygonlayer", "fill-color", "#faafee");
      //this.toggleLayerGroup("park-boundary");
    },
    //上传成功事件
    uploadShpSuccess(res) {
      let data = JSON.parse(res.data);
      let json = JSON.parse(data.geojson);
      this.geojsonEditShow = true;
      this.newgeojson = data.geojson; //触发加载geojson事件
    },
    addGeoJson(json) {
      if (this.map.getLayer("drawpolygonlayer"))
        this.map.removeLayer("drawpolygonlayer");
      if (this.map.getLayer("drawpointlayer"))
        this.map.removeLayer("drawpointlayer");
      if (this.map.getLayer("drawlinelayer"))
        this.map.removeLayer("drawlinelayer");

      if (this.map.getSource("national-park") != null) {
        this.map.getSource("national-park").setData(json);
      } else {
        this.map.addSource("national-park", {
          type: "geojson",
          data: json,
        });
      }
      this.map.addLayer({
        id: "drawpolygonlayer",
        layout: {
          visibility: "visible",
        },
        type: "fill",
        source: "national-park",
        paint: {
          "fill-color": "#888888",
          //"fill-opacity": 0.4
        },
        filter: ["==", "$type", "Polygon"],
      });

      this.map.addLayer({
        id: "drawpointlayer",
        type: "circle",
        layout: {
          visibility: "visible",
        },
        source: "national-park",
        paint: {
          "circle-radius": 6,
          "circle-color": "#B42222",
        },
        filter: ["==", "$type", "Point"],
      });

      this.map.addLayer({
        id: "drawlinelayer",
        type: "line",
        source: "national-park",
        layout: {
          visibility: "visible",
        },
        paint: {
          "line-width": 6,
          "line-color": "#B42222",
          "line-opacity": 0.8,
        },
        filter: ["==", "$type", "LineString"],
      });
      this.map.getLayer("drawpolygonLayer=");
      this.map.on("click", "drawpolygonlayer", function (data) {
        alert(JSON.stringify(data.features[0]));
        console.log(data.features);
      });
    },
    toggleLayerGroup(id) {
      var visibility = this.map.getLayoutProperty(id, "visibility");
      if (visibility === "visible") {
        this.map.setLayoutProperty(id, "visibility", "none");
      } else {
        this.map.setLayoutProperty(id, "visibility", "visible");
      }
    },
    downloadToShp() {},
    //大文件上传回调函数
    successvalue(value) {
      let status = false;
      this.histFileArr.forEach((element) => {
        if (element.WDMC == value.WDMC) status = true;
      });
      if (!status) {
        this.histFileArr.push({
          WDMC: value.WDMC,
          WJLJ: value.WJLJ,
          CJSJ: this.formatTime(new Date()),
        });
        console.log("文件上传成功：" + this.histFileArr);
      }
    },
    fileDelOper() {
      this.histFileArr = val;
    },
    addAnimateImages() {
      {
        var frameCount = 5;
        var _this = this;
        for (var i = 0; i < frameCount; i++) {
          _this.map.addSource("radar" + i, {
            type: "image" /* iamge类型资源 */,
            url:
              "https://www.mapbox.com/mapbox-gl-js/assets/radar" +
              i +
              ".gif" /* image的url */,
            coordinates: [
              [114, 32],
              [114, 33],
              [116, 32],
              [116, 33],
            ],
          });
          _this.map.addLayer({
            id: "radar" + i,
            source: "radar" + i,
            type: "raster" /* 栅格类型layer，这里图片用的是raster layer */,
            paint: {
              "raster-opacity": 0 /* 图片透明度 */,
              "raster-opacity-transition": {
                duration: 0,
              },
            },
          });
        }

        var frame = frameCount - 1;
        /* 通过周期设置不同图片的透明度实现动画效果 */
        setInterval(function () {
          /* setInterval(callback,delay)实现动画效果，每隔delay毫秒调用一下callback */ _this.map.setPaintProperty(
            "radar" + frame,
            "raster-opacity",
            0
          ); /* setPaintProperty(ID,name，value):设置id为ID的layer的属性name的属性值是value */
          frame = (frame + 1) % frameCount;
          _this.map.setPaintProperty("radar" + frame, "raster-opacity", 1);
        }, 200);
      }
    },
    zoomAdd() {
      if (this.map.getZoom() <= 16) {
        this.map.setZoom(this.map.getZoom() + 1);
      }
    },
    zoomReduce() {
      if (this.map.getZoom() >= 2) {
        this.map.setZoom(this.map.getZoom() - 1);
      }
    },
  },
  computed: {
    unreadNum() {
      return this.unread.length;
    },
  },
  mounted() {
    mapboxgl.accessToken =
      "pk.eyJ1IjoieWFuZ3pob3VoYW8iLCJhIjoiY2ppbG9sMXJnMXc5YjNxbnhrOWl1bXppMyJ9.-JL3W32NYV_lHqsTUIGw9Q";
    // 加载天地图底图
    // 天地图（各个区域的token可以在网上查到）
    var vecUrl = "http://t0.tianditu.com/vec_w/wmts?tk=" + window.tdtToken;
    var cvaUrl = "http://t0.tianditu.com/cva_w/wmts?tk=" + window.tdtToken; //注记

    //vecUrl=`http://t0.tianditu.com/img_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=${window.tdtToken}`;
    //使用严格模式
    // "use strict";
    //实例化source对象
    //         vecUrl=`
    // http://xizang.tianditu.gov.cn:81/img_w/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=00a9eefd8372800ea54252be21308ee3
    // `    ;
    // vec cva img cia  https://fxpc.mem.gov.cn/  https://qgzhdc.geo-compass.com
    let tdt_vecurl =
      "https://fxpc.mem.gov.cn/wmts?service=wmts&request=gettile&version=1.0.0&layer=vec&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=f9b997b1736039a7493136524b654f99";
    let tdt_veczjurl =
      "https://fxpc.mem.gov.cn/wmts?service=wmts&request=gettile&version=1.0.0&layer=cva&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=f9b997b1736039a7493136524b654f99";
    var tdtVec = {
      //类型为栅格瓦片
      type: "raster",
      // tiles: [
      //   //请求地址
      //   vecUrl +
      //     "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=w&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles",
      // ],
      tiles: [
        //请求地址
        tdt_vecurl,
      ],
      //分辨率
      tileSize: 256,
    };
    var tdtCva = {
      type: "raster",
      // tiles: [
      //   cvaUrl +
      //     "&SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=w&TILEMATRIX={z}&TILEROW={y}&TILECOL={x}&FORMAT=tiles",
      // ],
      tiles: [tdt_veczjurl],
      tileSize: 256,
    };
    var tdtImg = {
      //类型为栅格瓦片
      type: "raster",
      tiles: [
        //请求地址
        "http://t0.tianditu.com/img_w/wmts?service=wmts&request=gettile&version=1.0.0&layer=img_w&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=f9b997b1736039a7493136524b654f99",
      ],
      //分辨率
      tileSize: 256,
    };
      var tdtTer = {
      //类型为栅格瓦片
      type: "raster",
      tiles: [
        //请求地址
        "http://t0.tianditu.com/ter_w/wmts?service=wmts&request=gettile&version=1.0.0&layer=ter_w&style=default&tilematrixset=w&format=tiles&TILECOL={x}&TILEROW={y}&TILEMATRIX={z}&tk=f9b997b1736039a7493136524b654f99",
      ],
      //分辨率
      tileSize: 256,
    };
    
    //实例化Map地图对象
    this.map = new mapboxgl.Map({
      //地图容器div的id
      container: "mapDiv",
      style: {
        //设置版本号，一定要设置
        version: 8,
        //添加来源
        sources: {
          tdtVec: tdtVec,
          tdtCva: tdtCva,
          tdtImg: tdtImg,
          tdtTer: tdtTer
        },
        //'glyphs': 'mapbox://fonts/mapbox/{fontstack}/{range}.pbf',
        glyphs: "../../../../static/fonts/{fontstack}/{range}.pbf",
        //'glyphs':'http://jydtn-geoc_map.geo-compass.com/api/v1/font/11001000031/{fontstack}/{range}.pbf',
        //glyphs:"http://39.105.87.199:8090/mapboxFonts/{fontstack}/{range}.pbf",
        layers: [
          {
            //图层id，要保证唯一性
            id: "vec",
            //图层类型
            type: "raster",
            //数据源
            source: "tdtVec",
            //图层最小缩放级数
            minzoom: 0,
            //图层最大缩放级数
            maxzoom: 18,
          },
          {
            id: "annotation",
            type: "raster",
            source: "tdtCva",
            minzoom: 0,
            maxzoom: 18,
          },
           {
            id: "img",
            type: "raster",
            source: "tdtImg",
            minzoom: 0,
            maxzoom: 18,
            layout:{visibility:"none"}
          },
           {
            id: "ter",
            type: "raster",
            source: "tdtTer",
            minzoom: 0,
            maxzoom: 18,
            layout:{visibility:"none"}
          },
        ],
      },
      minZoom: 1,
      maxZoom: 17,
      //地图中心点
      center: [114, 32],
      //地图当前缩放级数
      zoom: this.mapzoom,
    });
    // 整级缩放
    this.map.scrollZoom.setWheelZoomRate(1);
    let _this = this;
    this.map.on("zoomend", () => {
      // 加上下面注释的反而地图会出错
      // let mapzoomnew = _this.map.getZoom();
      // if (mapzoomnew > _this.mapzoom) {
      //   _this.map.setZoom(Math.ceil(mapzoomnew));
      // } else {
      //   _this.map.setZoom(Math.floor(mapzoomnew));
      // }
      _this.mapzoom = Math.floor(_this.map.getZoom());
    });
  },
  watch: {
    newgeojson: {
      handler: function (val, oldVal) {
        try {
          var json = JSON.parse(val);
          this.addGeoJson(json);
        } catch (e) {
          console.log("请输入正确的geojson");
        }
      },
      deep: true,
      immediate: false,
    },
    pointcolor: function (val, old) {
      this.map.setPaintProperty("drawpointlayer", "circle-color", val);
    },
    linecolor: function (val, old) {},
    polygoncolor: function (val, old) {
      this.map.setPaintProperty("drawpolygonlayer", "fill-color", val);
    },
  },
};
</script>

<style>
.content {
  position: relative;
}
.myMap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#mapDiv {
  width: 100%;
  height: 100%;
}
.showToolBarBtn {
  position: absolute;
  z-index: 9999;
  top: 20px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  background: white;
  color: #409eff;
  font-size: 20px;
  font-weight: bold;
  left: 0px;
  border: 1px solid rgb(206, 205, 205);
}
.closeToolBarBtn {
  position: absolute;
  z-index: 9999;
  top: 20px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  background: white;
  color: #409eff;
  font-size: 20px;
  font-weight: bold;
  right: 0px;
  border: 1px solid rgb(206, 205, 205);
}

.toolbar {
  position: absolute;
  z-index: 666;
  top: 20px;
  left: 0px;
  transition: left linear 0.3s;
}
.switchMap {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 9999;
}
.funcBtn {
  width: 400px;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 20;
}
.funcBtn .itembtn {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  background: white;
}

/*  */
.zoombox1 {
  width: 30px;
  height: 40px;
  position: absolute;
  right: 10px;
  z-index: 2;
  bottom: calc(1% + 113px);
}
.zoomCount {
  text-align: center;
  width: 25px;
  line-height: 25px;
  background: #ffffff;
  color: #4083e7;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
.zoomCount1 {
  text-align: center;
  width: 25px;
  line-height: 25px;
  background: #4083e7;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}
</style>

